
[Unit]
Description=Readiness checks for auth0 PSaaS environments
After=network-online.target
# Wants=TODO


[Service]
# User=ubuntu
# Group=ubuntu

# set environment variables
# Environment=PATH=/usr/bin:/usr/local/bin

# do chdir before running the service
WorkingDirectory=/opt/auth0/readiness/appcode/

ExecStart=/usr/bin/node /opt/auth0/readiness/appcode/readiness.js

Restart=always


[Install]
WantedBy=multi-user.target

